<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
	 

		<title>Clinical Decision Support Query Generation</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/restapp/bootstrap.min.css" rel="stylesheet">
		<link href="/static/restapp/sticky-footer-navbar.css" rel="stylesheet">
		<link href="/static/restapp/custom.css" rel="stylesheet">

	</head>

	<body  ng-app="cdsQuerygen">

		<div class="container"  ng-controller="PatientController as patientCtrl">

			<div class="page-header">
				<h1>Clinical Decision Support Query Generation</h1>
			</div>

			<p class="lead">Help us understand how you would search for evidence based medicine resources.</p>

			<p>
			<strong>Instructions:</strong> 
				<ol>
					<li>You will be presented with a number of patient case reports.</li>
					<li>For each case reports there is an associated clinical question, e.g., <em>What is the patient's diagnosis?</em></li>
					<li>We would like you to provide us with one or more queries that <em>you</em> would issue to a search engine in order to help answer the clinical question.</li>
					<li>You can return to this page at anytime, just enter your name again and all your saved queries will be shown.</li>
				</ol>
			</p>

			<form class="form-inline">
			  <div class="form-group">
				<label for="exampleInputName2">Enter your name:</label>
				<input focus="true" type="text" class="form-control" id="exampleInputName2" ng-model="patientCtrl.person" class="form-control" title="Name">
			  </div>
			</form>

			<hr>



			
			<div ng-repeat="patient in patientCtrl.patients | limitTo: -(patientCtrl.patients.length-{{batch}}+1) | limitTo: {{size}}" ng-show="patientCtrl.person">
				
				<h3>{$ patient.qId $}</h3>

				<div class="case">
				
					<blockquote>{$ patient.description $}</blockquote>

					<p>What would you search for to find information on what relevant <strong>{$ patient.queryType $}(s)</strong> are?</p>
					
				
					
					<ol>
						<li ng-repeat="keyword in patient.keywords" ng-if="keyword.person.toLowerCase() == patientCtrl.person.toLowerCase()">{$ keyword.keywords $}</li>
					</ol>


					<form name="reviewForm" ng-submit='keywordCtrl.addKeywords(patient, patientCtrl.person, patient.keywords.length+1)' ng-controller="KeywordController as keywordCtrl">
						<fieldset class="form-group">
							<div class="input-group col-md-6">
								<input ng-model="keywordCtrl.currentKeywords" class="form-control" placeholder="Enter your query." title="Keywords" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Save</button>
								</span>
							</div><!-- /input-group -->
						</fieldset>
					</form>

				</div>
				<hr>
			</div>   <!-- patient repeat -->


		</div> <!-- /container -->

		<footer class="footer">
	      <div class="container">
	        <p class="text-muted">CDS Query generation on <a href="https://github.com/ielab/cds_query_generation">GitHub</a></p>
	      </div>
	    </footer>



		<script type="text/javascript" src="/static/restapp/angular.min.js"></script>
		<script type="text/javascript" src="/static/restapp/angular-cookies.js"></script>
		<script type="text/javascript" src="/static/restapp/app.js"></script>

	</body>
</html>
