<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
	 

		<title>Clinical Decision Support Query Generation</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/restapp/bootstrap.min.css" rel="stylesheet">
		<link href="/static/restapp/custom.css" rel="stylesheet">

	</head>

	<body  ng-app="cdsQuerygen">

		<div ng-controller="ExampleController as ec">
  <p>Output long number: {$ ec.cdsPatients | limitTo:1 : 10 $}</p>
  
  <li ng-repeat="patient in ec.cdsPatients | limitTo:1:10">{$patient.qId$}</li>
</div>

		<div class="container"  ng-controller="PatientController as patientCtrl">

			<div class="page-header">
				<h1>Clinical Decision Support Query Generation</h1>
			</div>
			<p class="lead">For each of the patient case reports, please generate keywords that you would use to search to find evidence for each question.</p>
			<p>More details instructions.</p>

			<hr>

			
			<div ng-repeat="patient in patientCtrl.patients | limitTo:2:20" class="case">
				<h3>{$ patient.qId $}</h3>
				<blockquote>{$ patient.description $}</blockquote>
				<p>What is the {$ patient.type $}?</p>
				<h4>Keywords</h4>
				
					<ol>
						<li ng-repeat="keyword in patient.keywords">{$ keyword $}</li>
						<li ng-show="patientCtrl.currentKeywords">{$ patientCtrl.currentKeywords $}</li>
					</ol>
				<form name="reviewForm" ng-submit='patientCtrl.addKeywords(patient, keyword)'>
					<fieldset class="form-group">
					<div class="input-group col-md-6">
						<input ng-model="patientCtrl.currentKeywords" class="form-control" placeholder="Enter your query." title="Keywords" />
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Save</button>
						</span>
					</div><!-- /input-group -->

					</fieldset>
				</form>
			</div>   


		</div> <!-- /container -->



		<script type="text/javascript" src="/static/restapp/angular.min.js"></script>
		<script type="text/javascript" src="/static/restapp/angular-cookies.js"></script>
		<script type="text/javascript" src="/static/restapp/app.js"></script>

	</body>
</html>
