blockquote {
	font-size:small;
}

h3 {
  margin-top: 45px;
}

h4 {
  margin-top: 25px;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}


hr {
  margin-top: 20px;
  margin-bottom: 2	0px;
}

